@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.logo {
    width: 200px;
    margin-top: 14px;
}

.main-nav {
    display: flex;
    font-size: 1.25em;
    text-transform: uppercase;
    margin-top: 36px;
    list-style: none;
}

.main-nav li {
    margin-left: 36px;
}

.main-nav a {
    color: #432;
}

.main-nav a:hover {
    color: #0bd;
}

.page-header {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

.home-contents {
    text-align: center;
    margin-top: 10%;
}

.home-contents p {
    font-size: 1.125em;
    margin: 10px 0 42px;
}

.page-title {
    font-size: 5em;
    font-family: 'phhilosopher', serif;
    text-transform: uppercase;
    font-weight: normal;
}

.btn {
    font-size: 1.375em;
    background-color: #0bd;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}

.btn :hover {
    background: #0090aa;
}

.big-bg {
    background-size: cover;
    background-position: center-top;
}

#home {
    background-image: url(../images/main-bg.jpg);
    min-height: 100vh;
}

#home .page-title {
    text-transform: none;
}

/* NEWS */

#news {
    background-image: url(../images/news-bg.jpg);
    height: 270px;
    padding-bottom: 40px;
}

#news .page-title {
    text-align: center;
}

footer {
    padding: 26px 0;
    text-align: center;
    background-color: #432;
}

footer p {
    color: #fff;
    font-size: 0.875rem;
}

.date {
    height: 100px;
    width: 100px;
    background-color: #0bd;
    border-radius: 50%;
    color: #fff;
    font-size: 1.625rem;
    text-align: center;
    padding-top: 10px;
}

.date span {
    font-size: 1rem;
    border-top: 1px rgba(225, 225, 225, 5) solid;
    padding-top: 6px;
    display: block;
    width: 60%;
    margin: 0 auto;
}

.main-article img {
    margin-bottom: 20px;
}

.main-article p {
    margin-top: 1rem;
}

.sub-title {
    border-bottom: 2px #0bd solid;
    padding-bottom: 8px;
}

.sub-menu {
    margin: 60px 0;
}

.sub-menu ul {
    list-style: none;
    padding: 0;
}

.sub-menu li {
    border-bottom: 1px #ddd solid;
}

.sub-menu a {
    color: #432;
    padding: 10px;
    display: block;
}

.sub-menu a:hover {
    color: #0bd;
}

.aside p {
    padding: 12px 10px;
}

/* MENU */
#menu {
    background-image: url(../images/menu-bg.jpg);
    min-height: 100vh;
}

.menu-content {
    max-width: 560px;
    margin-top: 10%;

}

.menu-content .page-title {
    text-align: center;

}

.menu-content p {
    font-size: 1.125rem;
    margin: 10px 0 0;

}

.grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-top: 6%;
    margin-bottom: 50px;
}

.big-box {
    grid-column: 1/3;
    grid-row: 1/3;
}

.big-box img {
    height: 94%;
    width: 100%;
    object-fit: cover;
}

/* CONTACT */

#contact {
    background-image: url(../images/contact-bg.jpg);
    min-height: 100vh;
}

.contact-content{
    margin-top: 5%;
}

label {
    font-size: 1.125rem;
    margin-bottom: 10px;
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
  
    background: rgba(225, 225, 225, .5);
}

input[type="text"],
input[type="email"] {
    width: 100%;
    max-width: 240px;
}

textarea {
    width: 100%;
    max-width: 480px;
    height: 6rem;
}

input[type="submit"] {
    border: none;
    line-height: 1;
}

#location {
    padding: 4% 0;
}

#location .wrapper{
    display: flex;
    justify-content: space-between;
}

.location-info{
    width: 22%;
}

.location-info p {
    padding: 12px 10px;
}

.location-map {
    width: 74%;
}

#sns{
    background: #fAf7F0;
    padding: 4% 0;
}

#sns .wrapper{
    display: flex;
    justify-content: space-between;
}

#sns .sub-title{
    margin-bottom: 30px;
}

.sns-box{
    width: 30%;
    
}





@media (max-width: 600px) {

    /* Header */
    .page-header {
        flex-direction: column;
        align-items: center;
    }

    .page-title {
        font-size: 2.5rem;
    }


    .main-nav {
        font-size: 1rem;
        margin-top: 10px;
    }

    .main-nav li {
        margin: 0 20px;
    }

    /* home */
    .home-contents {
        margin-top: 20%;
    }

    /* News */

    #news .page-title {
        margin-top: 30px;
    }

    .date {
        width: 85px;
        height: 85px;
        font-size: 0.9rem;
    }

    /* MENU */
    .menu-content {
        margin-top: 20%;
    }

    .big-box {
        grid-column: auto;
        grid-row: auto;
    }

    .big-box img {
        height: auto;
    }

    /* CONTACT */
    #contact .page-title {
        margin-top: 40px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        max-width: 100%;
        
    }

    #location wrapper,
    #sns wrapper {
        flex-direction: column;
    }

    .local-info,
    .location-map,
    .sns-box{
        width: 100%;
    }

    .sns-box{
        margin-bottom: 30px;
    }



}