@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.logo {
    width: 200px;
    margin-top: 14px;
}

.main-nav {
    display: flex;
    font-size: 1.25em;
    text-transform: uppercase;
    margin-top: 36px;
    list-style: none;
}

.main-nav li {
    margin-left: 36px;
}

.main-nav a {
    color: #432;
}

.main-nav a:hover {
    color: #0bd;
}

.page-header {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

.home-contents {
    text-align: center;
    margin-top: 10%;
}

.home-contents p {
    font-size: 1.125em;
    margin: 10px 0 42px;
}

.page-title {
    font-size: 5em;
    font-family: 'phhilosopher', serif;
    text-transform: uppercase;
    font-weight: normal;
}

.btn {
    font-size: 1.375em;
    background-color: #0bd;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}

.btn :hover {
    background: #0090aa;
}

.big-bg {
    background-size: cover;
    background-position: center-top;
}

#home {
    background-image: url(../images/main-bg.jpg);
    min-height: 100vh;
}

#home .page-title {
    text-transform: none;
}

#news {
    background-image: url(../images/news-bg.jpg);
    height: 270px;
    padding-bottom: 40px;
}

#news .page-title {
    text-align: center;
}

footer {
    padding: 26px 0;
    text-align: center;
    background-color: #432;
}

footer p {
    color: #fff;
    font-size: 0.875rem;
}

.date {
    height: 100px;
    width: 100px;
    background-color: #0bd;
    border-radius: 50%;
    color: #fff;
    font-size: 1.625rem;
    text-align: center;
    padding-top: 10px;
}

.date span {
    font-size: 1rem;
    border-top: 1px rgba(225, 225, 225, 5) solid;
    padding-top: 6px;
    display: block;
    width: 60%;
    margin: 0 auto;
}

.main-article img {
    margin-bottom: 20px;
}

.main-article p {
    margin-top: 1rem;
}

.sub-title {
    border-bottom: 2px #0bd solid;
    padding-bottom: 8px;
}

.sub-menu {
    margin: 60px 0;
}

.sub-menu ul {
    list-style: none;
    padding: 0;
}

.sub-menu li {
    border-bottom: 1px #ddd solid;
}

.sub-menu a {
    color: #432;
    padding: 10px;
    display: block;
}

.sub-menu a:hover {
    color: #0bd;
}

.aside p {
    padding: 12px 10px;
}


@media (max-width: 600px) {
    /* Header */
    .page-header {
        flex-direction: column;
        align-items: center;
    }

    .page-title {
        font-size: 2.5rem;
    }

    
    .main-nav {
        font-size: 1rem;
        margin-top: 10px;
    }

    .main-nav li {
        margin: 0 20px;
    }

    /* home */
    .home-contents {
        margin-top: 20%;
    }

    /* News */

    #news .page-title {
        margin-top: 30px;
    }

    .date {
        width: 85px;
        height: 85px;
        font-size: 0.9rem;
    }
}